* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
}
#header {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.1)
    ),
    url(./IMG/BLACKPINK-Logo-Pink-PNG.jpg);
  width: 100vw;
  height: 75px;
  background-position: center;
  background-size: contain;
}
#header h1 {
  color: #fff;
  background-color: #000;
  width: 300px;
  height: 75px;
  padding-top: 14px;
  margin-left: calc(50% - 150px);
  text-align: center;
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: 700;
}
#snowdrop {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.8)
    ),
    url(./IMG/Snowdrop.jpg);
  width: 100vw;
  height: 75vh;
  background-position: center;
}
#snowdrop h1 {
  color: #fff;
  background-color: transparent;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 60px;
  font-weight: 700;
  padding-top: 25vh;
  text-align: center;
}
#snowdrop h2 {
  color: #fff;
  background-color: transparent;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
#navbar {
  position: sticky;
  top: 0;
}
#navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  font-family: "Fuzzy Bubbles", cursive;
}
#navbar li {
  float: left;
  border-right: 2px solid #d36d88;
}
#navbar li:last-child {
  border-right: none;
  background-color: #5dc450;
}
#navbar li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
}
#navbar li a:hover {
  background-color: #d36d88;
}
#biography {
  background-color: #333;
  font-family: "Fuzzy Bubbles", cursive;
  color: #d36d88;
}
#biography h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}
#biography h2 {
  padding-top: 15px;
  padding-left: 150px;
  padding-bottom: 15px;
  width: 700px;
}
.profile {
  z-index: 0;
  position: relative;
  display: block;
  width: 580px;
  float: right;
  padding-top: 30px;
  padding-right: 250px;
}
.overlay {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
  width: 332px;
  height: 80px;
  transition: 0.5s ease;
  color: white;
  padding: 20px;
  margin-left: 938px;
  margin-top: 536px;
  text-align: center;
}
.profile:hover {
  opacity: 0;
}
#IG {
  background-color: #333;
}
#IG iframe {
  margin-left: 23vw;
  margin-top: 20px;
  border: 5px solid #d36d88;
  border-radius: 8px;
  margin-bottom: 50px;
}
#IG h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: #d36d88;
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: 700;
}
#Gallery h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: #d36d88;
  font-family: "Fuzzy Bubbles", cursive;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
#Endorsement {
  color: #d36d88;
  font-family: "Fuzzy Bubbles", cursive;
  text-align: center;
}
#Endorsement h1 {
  padding-top: 50px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 3rem;
}
#brand {
  border: 8px solid #d36d88;
  border-radius: 8px;
  border-collapse: collapse;
  margin-bottom: 50px;
  width: 60%;
  margin-left: 20vw;
  margin-top: 20px;
}
#brand td,
#brand th {
  border: 3px solid #d36d88;
  background-color: #333;
  font-size: 30px;
  padding: 30px;
}
#brand td:hover {
  border: 3px solid #d36d88;
  background-color: #e29caf;
  color: #000;
}
#about {
  color: #d36d88;
  font-family: "Fuzzy Bubbles", cursive;
  text-align: center;
  padding-top: 50px;
  font-weight: 700;
  font-size: 3rem;
}
#about h2 {
  font-size: 2rem;
  padding-bottom: 100px;
}
.ig {
  margin-left: 450px;
  margin-top: 50px;
}
